<!-- <h1>Blogs#new</h1>
<p>Find me in app/views/blogs/new.html.erb</p> -->

<h2> 新規投稿</h2>
<%= form_for(@blog) do |f| %>
    <p> タイトル</p>
    <%= f.text_field :title %>

    <p> 本文</p>
    <%=f.text_area :body %>

    <p> カテゴリー</p>
    <%= f.text_field :category %>
<!-- command + shift + D で繰り返し打つことができる -->
    <p> 画像</p>
    <%= f.attachment_field :blog_image %>

    <%= f.submit '送信' %>

<% end %>
